language: generic

env:
  global:
    - KUBERNETES_VERSION=1.14.8
    - HELM_VERSION=2.12.3
    - TERRAFORM_VERSION=0.12.20
    - MAVEN_CLI_OPTS="--batch-mode --quiet --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true -U"
    - PATH=$HOME/.local/bin:$PATH

branches:
  only:
    - master
    - develop

before_install:
  - pip install --user awscli

install:
  - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kubectl &&
    chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  - curl https://kubernetes-helm.storage.googleapis.com/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar zx &&
    sudo mv linux-amd64/helm /usr/local/bin/ && helm version --client
  - curl -sLo /tmp/terraform.zip https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
  - unzip /tmp/terraform.zip -d /tmp
  - mv /tmp/terraform ~/bin
  - export PATH="~/bin:$PATH"
  - aws s3 cp s3://aae-license/activiti.lic $PWD/examples/rancher-eks/activiti.lic

jobs:
  allow_failures:
    - name: deploy application
    - name: smoketest
  include:
    - name: deploy application
      stage: deploy
      script:
        - /home/travis/build/Alfresco/terraform-alfresco-process/script/travis/create_rancher-eks_cluster.sh
        - rm -rf /home/travis/build/Alfresco/terraform-alfresco-process/examples/rancher-eks/.terraform/{modules,plugins}
        - aws s3 sync /home/travis/build/Alfresco/terraform-alfresco-process/examples/rancher-eks/ s3://$CACHE_BUCKET/$TRAVIS_BUILD_NUMBER/ --exclude '*' --include '.terraform/htpasswd' --include '.terraform/kubeconfig' --include 'terraform.tf*'
    - name: smoketest
      stage: test
      before_script:
        - aws s3 sync s3://$CACHE_BUCKET/$TRAVIS_BUILD_NUMBER/ /home/travis/build/Alfresco/terraform-alfresco-process/examples/rancher-eks/
        - export KUBECONFIG=/home/travis/build/Alfresco/terraform-alfresco-process/examples/rancher-eks/.terraform/kubeconfig
        - export K8S_API_URL=$(kubectl config view -o jsonpath="{.clusters[?(@.name==\"$TF_VAR_cluster_name\")].cluster.server}")
        - /home/travis/build/Alfresco/terraform-alfresco-process/script/travis/verify_environment_ready.sh
        - /home/travis/build/Alfresco/terraform-alfresco-process/script/travis/clone_and_configure_acceptance_tests.sh
        - travis_wait 30 mvn -f ./alfresco-process-acceptance-tests/pom.xml ${MAVEN_CLI_OPTS} dependency:resolve dependency:resolve-plugins
      script:
        - travis_wait 40 mvn -f ./alfresco-process-acceptance-tests/pom.xml ${MAVEN_CLI_OPTS} clean verify "-Dmetafilter=+smoke" serenity:aggregate
    - name: delete cluster
      stage: destroy
      before_script:
        - aws s3 sync s3://$CACHE_BUCKET/$TRAVIS_BUILD_NUMBER/ /home/travis/build/Alfresco/terraform-alfresco-process/examples/rancher-eks/
      script:
        - /home/travis/build/Alfresco/terraform-alfresco-process/script/travis/destroy_cluster.sh
      after_success:
        - aws s3 rm --recursive s3://$CACHE_BUCKET/$TRAVIS_BUILD_NUMBER

cache:
  directories:
    - ${HOME}/.m2/repository

notifications:
  slack:
    rooms:
      secure: "DQqt1oh8lM1Uby1kEx/PZHQewnxdcdValh/ZtoQIaH/bLOOf6Ajnwio+YiIoPVLzkuTt3ptYKXcL6ooUOG6yQbScId0VUVa0/6bz5VyeIJrUCcfF18PlsHOWl2KA01odRKkdfM4zzWNI+cAKCUoTOP0rmllPYRlu5wLg0GmDc3yplgsDQN01vmBii0CF8V2EXohfsu+9unzfQNkQTAZcuMlCJsSHgf4fHSx8L21tANdLMBDuDHThjXwKBJOY9Ju3kwyubhwYBhiSmsK6FI7mXQNT0kOJxOl2lEgov3gaPvchnytjzKAmJfnLjfAdqriyRCcEY4ErwUBnxPzrqfUGB7rJQpvTthqURCmTAePl9PRahUAPSgzF5NLk+3f0Q2tMIHLx8RlwFVX0eKCQh1tXMGkCupan4wk9HScnpOKhxnVnXb1qwMPOdI8yD+Io5aWMvONb4LX2l0Y+Nnifrm2dUTtzRs+OuZlLbWJiFsZ1DM9EEM8BlMj8vkTKDIhaDglDa/RxoQB/7/uCnDqyOWVaFjqLlJ5Z5wVznal996V7X1j6jmCDGMQ6bbRfIiVSUAYJijOBpY1RsUieMHOTmlyYbCRMiKytpgCTN4Uzvjin++HLgRs6CZ+uelunQ5ZBd9QefuBOgoyOXVJwLRuoDF0MhjVRID5hv3F9n/lPeHjUDDQ="
    on_success: always
    on_failure: always
    on_pull_requests: false
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository_slug}@%{branch} by %{author} %{result} in %{duration}"
      - "Build report: https://aae-ci-result.s3.amazonaws.com/%{build_number}/index.html"

addons:
  artifacts:
    paths:
      - ./alfresco-process-acceptance-tests/target/site/serenity
    target_paths: $TRAVIS_BUILD_NUMBER


